$spacing-1: .25rem;
$spacing-2: .5rem;
$spacing-3: .75rem;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-10: 2.5rem;
$spacing-12: 3rem;
$spacing-16: 4rem;
$spacing-20: 5rem;
$spacing-24: 6rem;
$spacing-28: 7rem;
$spacing-32: 8rem;
$spacing-36: 9rem;
$spacing-40: 10rem;
$spacing-44: 11rem;
$spacing-48: 12rem;
$spacing-52: 13rem;
$spacing-56: 14rem;
$spacing-60: 15rem;
$spacing-64: 16rem;