.fixed-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $spacing-16;
    background-color: $gray-800;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        display: flex;
        width: $spacing-8;
        height: $spacing-8;
        color: $gray-300;
    }

    a:hover {
        color: $gray-600;
    }

    a.active {
        color: $primary-300;
    }

    a svg {
        width: $spacing-8;
        height: $spacing-8;
    }


}